
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #FFF;
    font-family: 'Inter', sans-serif;
}

h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-block: 34px;
}

#siglas h2, #dicas h2, #sao-carlos h2, #ufscar h2{
    color: white;
}

h3{
    color: #003764;
    font-size: 25px;
    margin-block: 25px;
    font-weight: 600;
}
h4{
    color: black;
    font-size: 25px;
}

h5{
    font-size: 20px;
    margin-bottom: 25px;
}

h6{
    color: gray;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 1rem;
}

#calourada h6{
    color: #ff7f40;
    margin-top: 1rem;
}

p, a{
    font-weight: 400;
    font-size: 17px;
    color: #000;
}

ul{
    list-style: none;
    display: grid;
    justify-items: center;
    margin-block: 2.12rem;
}

ul > li{
    background-color: #f9f3ef;
    padding: 40px 25px;
    border: solid;
    box-shadow: 10px 10px 0px 0px #00294b;
    -webkit-box-shadow: 10px 10px 0px 0px #00294b;
    -moz-box-shadow: 10px 10px 0px 0px #00294b;
}

button{
    border: black solid;
    background-color: white;
}

button a{
    display: block;
    font-size: 23px;
    font-weight: 700;
    height: 100%;
    width: 100%;
    padding-block: 10%;
    font-family: 'inter';
}

a{
    text-decoration-line: none;
    display: block;
    height: 100%;
    
    font-family: 'inter';
}

ol li{
    margin: .5rem;
    text-indent: .5rem;
}

header{
    background-color: #fe5d06;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav{
    background-color: #ff7f40;
    height: 120px;
}

header > img{
    max-width: 100%;
    height: auto;
    padding-top: 30px;
}

#introducao, #siglas{
    
    padding-top: 54px;
    padding-bottom: 54px;
}

.intro {
    display: flex;
    background-color: #fff;
    margin-inline: 10vw;
    padding: 4vh 3vw;
    gap: 0 1%;
}

.intro > section{
    width: 60%;
    margin-block: 68px;
    margin-inline-start: 10px;
}

.intro > aside{
    background-color: #f9f3ef;
    padding: 2%;
    height: 333px;
    width: 333px;
    margin: auto;
    border: solid;
    box-shadow: 10px 10px 0px 0px rgba(0,41,75,1);
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0,41,75,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,41,75,1);
}

#curso{
    margin-block: 54px;
}

#curso ul{
    width: 90%;
    height: fit-content;
    gap: 5vh;
    grid-template-columns: repeat(3, 1fr);
}

#curso figure{
    display: flex;
    margin-block: 25px;
    align-content: space-between;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

#curso h2{
    color: #000;
    margin-block: 34px;
}

.botao{
    border: black solid;
    background-color: white;
    margin-block: 30px;
    height: 60px;
    width: 200px;
    box-shadow: 10px 10px 0px 0px rgba(0,41,75,1);
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0,41,75,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,41,75,1);
}

.botao a {
    text-decoration-line: none;
    display: block;
    font-size: 20px;
    font-weight: 700;
    height: 100%;
    padding-block: 7%;
    font-family: 'inter';
}

.mapa-disciplina{
    width: 50%;
}

#siglas {
    height: fit-content;
}

#siglas ul{
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem 0%;
}

#siglas ul li{
    background-color: #fff;
    height: 100%;
    width: 18vw;
    padding: 1.3rem;
    box-shadow: none;
}

#siglas a{
    padding-block: 0;
}

#siglas h5{
    margin: 0;
}

.grupos-extensao{
    background-color: #ff7f40;
    height: 100%;
    width: 100%;
    padding-inline: 10vw;
    margin-block: 7rem;
}

.grupos-extensao a{
    height: fit-content;
}

.grupos-extensao ul{
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin-inline: auto;
    width: 85%;
}

.grupos-extensao h4{
    margin-bottom: 1em;
}

.grupos-extensao ul li{
    height: 100%;
    padding: 2rem;
    background-color: white;
    
}

.grupos-extensao li p{
 font-size: 15px;
}

.extra{
    
}

.ic ul{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    gap: 2vw;
    margin-inline: auto;
}

.ic ul li{
    padding: 0;
    height: 100px;
}

.ic li a{
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.figure{
    display: flex;
    justify-content: space-around;
    margin-block: 3vh;
}

.mapa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1vw;
}

.mapa > figure{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: baseline;
    justify-content: center;
    margin-block: auto;
}

.comida-ufscar{
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    gap: 2em;
}

.comida-ufscar li{
    background-color: white;
    height: 100%;
}

#sao-carlos p, #sao-carlos > h3{
    color: white;
}

.restaurante ul{
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}

#sao-carlos h3{
    margin-top: 30px;
}

#sao-carlos li{
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 25px;
    box-shadow: none;
    border: none;
}

.hino{
    justify-content: space-around;
    display: flex;
    margin-top: 30px;
}


.hino p{
    width: 46%;
    background-color: #f9f3ef;
    padding: 1vw;
    text-align: center;
    border: solid;
    box-shadow: 10px 10px 0px 0px rgba(0,41,75,1);
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0,41,75,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,41,75,1);
}

#dicas > ul{
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

.circle{
    height: 50px;
    clip-path: circle(25px);
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.localizacao h4{
    font-size: 17px;
    color:#003764;
}

.localizacao span{
    color: #003764;
    font-size: 12px;
}



.bar{
    background-color: orange;
}

.burger{
    background-color: #003764;
}

.comida{
    background-color: green;
}

.pizza{
    background-color: red;
}

.doce{
    background-color: purple;
}

.util, .mercado, .farmacia, .academia{
    background-color: #FE5D06;
}

#tutoriais ul{
    list-style: disc;
}

.tutorial li{
    height: fit-content;
    background-color: white;
    border: none;
    padding: 0;
    box-shadow: none;
    margin-bottom: 1em;
    font-size: 17px;
}

#dicas h3{
    margin: 0;
}

#dicas > ul li{
    height: 100%;
    font-family: 'inter';
    font-size: 17px;
}

.recomendacao{
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);
}

.cronograma{
    width: 40%;
}

.festas{
    width: 70%;
}

.transporte{
    grid-template-columns: repeat(2, 1fr); 
    width: 90%; 
    margin-inline: auto;
}

.dicas-sobrevivencia{
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.dicas-sobrevivencia h3{
    margin-left: 0;
}

.dicas-sobrevivencia > li{
    border: none;
    padding: 0;
    box-shadow: none;
    margin-bottom: 1em;
}

.service{
    grid-template-columns: repeat(3, 1fr); 
    width: 85%;
    margin-inline: auto;
    gap: 2em;
}

#dicas ol li{
    font-size: 12px;
}

footer{
    display: flex;
    flex-direction: row;
}

footer section{
    width: 50%;
}

.contatos{
    display: flex; 
    flex-direction: column; 
}

@media only screen and (max-width: 1600px) {
    #curso ul{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 2.12rem;
        gap: 2em;
        height: fit-content;
    }

    #siglas ul{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 2.12rem;
        
    }

    #siglas ul li{
        background-color: #fff;
        height: 100%;
        width: 24vw;
        padding: 1.3rem;
        box-shadow: none;
    }

    .comida-ufscar{
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        gap: 1%;
        gap: 2em;
    }
}

@media only screen and (max-width: 1080px){
    #siglas ul li {
        background-color: #fff;
        height: 100%;
        width: 100%;
        padding: 1.3rem;
        box-shadow: none;
    }

    #siglas ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 2.12rem;
        gap: 1em;
    }

    .mapa {
        display: flex;
        flex-direction: column;
    }

    .mapa figure{
        margin-inline: auto;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 720px){
    .hino{
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2em;
    }

    .hino p{
        width: 90%;
    }
}

@media only screen and (max-width: 950px){
    .restaurante ul{
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
    }

    #siglas ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 2.12rem;
    }
}

@media only screen and (max-width: 675px){
    .festas{
        width: 100%;
    }

    .service{
        grid-template-columns: 1fr; 
        width: 85%;
        margin-inline: auto;
        gap: 2em;
    }

    .recomendacao{
        grid-template-columns: 1fr;
        row-gap: 2em;
        width: 60%;
        margin-inline: auto;
    }

    .grupos-extensao ul {
        grid-template-columns: 1fr;
        gap: 2em;
        width: 85%;
    }

    #curso figure {
        display: flex;
        flex-direction: column;
        margin-block: 25px;
        gap: 2em;
        justify-content: center;
        align-items: center;
    }

    #dicas > ul {
        grid-template-columns: 1fr;
        gap: 2em;
    }

    .transporte{
        grid-template-columns: 1fr; 
        width: 90%; 
        margin-inline: auto;
        gap: 2em;
    }

    .mapa-disciplina{
        width: 70%;
    }

    .cronograma{
        width: 70%;
    }

    .restaurante ul{
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }

    #curso ul{
        grid-template-columns: 1fr;
    }
    #curso ul li{
        width: 100%;
    }
}

@media only screen and (max-width: 550px){
    #siglas ul{
        grid-template-columns: 1fr;
    }

    .comida-ufscar{
        grid-template-columns: 1fr;
    }

    .ic ul{
        flex-direction: column;
        gap: 2em;
    }
}