* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #FFF;
    font-family: 'Inter', sans-serif;
    margin: 1rem;
}

ul{
    list-style: none;
    
}

ul li{
    margin: .5rem;
    text-indent: .5rem;
}

h2, h3, h4{
    padding: 1rem;
}

h1{
    text-align: center;
}

h1, h2{
    color: #003764;
    font-weight: 900;
}

h3{
    color: #FE5D06;
    font-weight: 700;
}

h4{
    color: black;
}

p{
    margin: .5rem;
    text-indent: .5rem;
}

.siglas p{
    text-indent: 0;
}

.siglas p strong{
    
}